body {
    /* background-color: antiquewhite; */
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* 全部背景 */
  .NavbarItems {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .navbar-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
  }
  /* 左侧logo */
  .fa-rainbow {
    margin-left: 0.5em;
    font-size: 1.6rem;
  }
  /* 面包按钮 */
  .fa-bars {
    color: #6fa812;
  }
  
  .nav-menu {
    margin-right: 2em;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 800px;
    justify-content: end;
  }
  
  /* 每一个单独按钮的样式 */
  .nav-links {
    color:#6fa812;
    text-decoration: none;
    padding: 5px 10px;
  }
  .nav-links:hover {
    background-color: #6fa812;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  
  /* mobile样式的sign up */
  .nav-links-mobile {
    /* display: none; */
  }
  
  /* 面包按钮，缩小后才会display */
  .menu-icon {
    display: none;
  }
  

  /* 小屏幕的--面包按钮 */
  /* @media screen and (max-width: 960px) { */
  @media screen and (min-width: 0px) {

    .NavbarItems {
      position: relative;
      z-index: 999;
    }

    /* 显示面包icon的位置 */
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(190%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      z-index: 999;
    }
    .fa-times {
      color: #6fa812;
      font-size: 2rem;
    }

    /* 2.1点击叉叉按钮后，菜单详情都飘走 */
    .nav-menu {
      display: flex;
      flex-direction: row;
      width: 100px;
      /* height: 130px; */
      position: absolute;
      top: 0px;
      left: -100%;
      transition: all 0.5s ease;
    }
    /* 2.2点击面包按钮后，菜单详情都浮动过来 */
    .nav-menu.active {
      /* background-color: aliceblue; */
      /* opacity: 0.3; */
      left: 100px;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-links {
      text-align: center;
      padding: 1.4em;
      width: 100%;
      display: table;
    }
    .nav-links:hover {
      background-color: #b2e462;
      border-radius: 0;
    }
    /* .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    } */
    
    /* 只在移动端显示的sign up按钮样式 */
    /* .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background-color:  firebrick;
      text-decoration: none;
      font-size: 1.5rem;
      color: white;
    } */
    /* .nav-links-moble:hover {
      background-color: white;
      transition: 250ms;
    } */
    Button {
      display: none;
    }
  }
  